.custnav, .custnav .nav-link, .custnav .navbar-brand {
    background-color: #4E5D6C;
    font-family: Raleway;
    color: #C0C0C0;
    font-size: 1.0rem;
}

.custbtn, .custbtn .btn-secondary {
    background-color: #4E5D6C;
    font-family: Raleway;
    color: #C0C0C0;
    font-size: 1.0rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custactive {
    color: #fff;
    background-color: #0062cc;
    border-color: #000;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.custfont {
    font-family: Raleway;
    font-size: 1.0rem;
}

.custbody {
    background-image: url('../img/sunsethills.jpg');
    opacity: 0.7;
    background-size: cover;
}